.centerr {
  margin-top: 80px;
  margin-left: 70px;
  height: 100px;
  font-size: 20px;
  color: #a6b1e1;
  font-family: cursive;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em #071e22;
}

form {
  width: 80%;
  height: 100%;
  list-style-type: none;
  clear: both;
  border-radius: 25px;

}

.form-check-input {
  position:relative;
  margin-top: 8px;

}


.basic_data {
  position: relative;
  
}

h3 {
  font-size: 25px;
  color: #612940;
  margin-top: -25px;
  margin-left: 300px;

}

hr {
  width: 50%;
  border-width: 2px;
  border-color: #9f6ba0;
  margin-left: 300px;
}


label {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 305px;
}

.form-name {
  display: block;
  width: 40%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-left: 305px;
}


